body
{

	background-color: #4682B4;
	font-family: Verdana;
}
	
#ueberschrift
{
	font-size: 17pt;
	font-weight: bold; 
	color: #303030;
	padding-top: 20px;
}

.question_background
{
	background-color: #FFFFFF;
	padding: 20px 20px 20px 20px;
}

